body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin: 20px;
    padding: 20px;
    border: 20px;
}

h1, h3 {
    text-align: center;
    border: 4px;
    background-color: rgb(166, 231, 208);
    padding: 20px;
}

ul, ol, p {
    background-color:rgb(214, 248, 214);
    padding: 20px;
}

li {
    padding: 4px;
    margin: 10px;
}

p {
    margin: 0px;
}

a {
    text-decoration: none;
}